<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.assignment.TestCases.TS_04_Add_To_Cart"/>
      <class name="com.assignment.TestCases.TS_03_Search_Functionality"/>
      <class name="com.assignment.TestCases.TS_01_Login_Functionality_TestCases"/>
      <class name="com.assignment.TestCases.TS_02_Registration_Functionality_TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
